.block-articles-featured--layout2 .features {
	width: 300px;
	float: left;
	margin-left: 0;
	padding-left: 0;
}

.block-articles-featured--layout2 .features .column-wrap {
	width: 300px;
}

.block-articles-featured--layout2 .feed {
	margin-left:0;
	float: right;
	margin-right: 50px;
	width: 380px;
}
