.single {

  .main-container {
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
  }

  h1 {
    line-height: 1.25;
    font-size: 1.5em;
    margin: 0;
    font-family: $fontHeavier;
    color: $defaultDark;
  }

  .post-content {
    img {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .2);
    }
    img + em {
      display: block;
      text-align: center;
      font-size: 0.75em;
      font-style: normal;
    }
  }

  .column-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (min-width: $tabletPortrait) {
      flex-direction: row;
    }

    .discover-hero-panel { //Hero Image
      width: 100%;
      margin-bottom: 0;

      @media (min-width: $tabletPortrait) {
        width: 100%;
        margin-bottom: 20px;
      }

      @media (min-width: $tabletLandscape) {
        width: calc(100% - 330px);
        margin-bottom: 0;
      }
    }
    .primary {
      width: 100%;

      @media (min-width: $tabletPortrait) {
        width: calc(100% - 330px);
      }
    }
    .secondary {
      width: 100%;
      margin-top: 0;
      padding-top: 20px;
      background-color: #f5f5f6;

      @media (min-width: $tabletPortrait) {
        width: 300px;
        padding-top: 0;
        margin-left: 20px;
        background-color: transparent;
      }
      @media (min-width: $tabletLandscape) {
        margin-left: 30px;
      }
    }
  }

  @media (min-width: $tabletPortrait) {
    .post-content {
      margin-left: 15px;
    }
  }

  .header-wrapper {
    margin: 20px 15px 15px;
  }

  .post-meta {
    padding: 15px 0 0 0;
    .news-masthead {
      white-space: nowrap;
    }
  }

  @media (min-width: $phoneLandscape) {
    .post-meta .news-masthead {
      max-width: 50%;
      text-align: right;
      float: right;
      padding-top: 5px;
    }
    .header-wrapper .author {
      width: 50%;
      float: left;
      .post-author {
        padding-top: 5px;
      }
    }
  }

  @media (min-width: $tabletPortrait) {
    .header-wrapper {
      margin: 20px 0 0 15px;
      h1 {
        font-size: 2.5em;
        margin-right: 100px
      }
      .post-meta {
        margin-right: 330px;
        border-bottom: 2px dotted #eee;
      }
      .author {
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: $tabletLandscape) {
    .header-wrapper {
      margin: 30px 330px 0 0;
      width: 100%;
      h1 {
        font-size: 3.25em;
        margin-right: 0;
      }
      .post-meta {
        margin-right: 0;
      }
    }
  }

  @media (min-width: 769px) {
    .header-wrapper .post-meta {
      border: none;
    }
  }

  .breadcrumbs {
    font-size: 0.75em;
    margin-bottom: 0;
    .breadcrumb_last {
      font-family: $fontDefault;
    }
    a {
      text-decoration: none;
      color: $defaultMedium;
    }
  }

  .wp-caption {
    max-width: 100%;
    background: transparent;
    padding: 0;
    margin: 0 0 30px;
    width: auto !important; /* Because WP writes inline styles on this element */
    p.wp-caption-text {
      font-size: 0.75em;
      color: #9b9b9b;
      text-align: left;
      margin: 10px 0;
      font-family: $fontMono;
    }
  }

  @media (max-width: 767px) {
    .article-content {
      padding: 0 15px;
      font-size: 0.875em;
    }
    .wp-caption {
      max-width: none;
      margin: 0 -15px 20px; /* Takes photo edge to edge */
      p.wp-caption-text {
        font-size: 11px;
        color: $defaultMedium;
        padding: 10px 30px 0;
        margin: 0;
      }
    }
  }
  @media (max-width: $tabletPortrait) {
    .rui-grid-advanced-mobile-bleed {
      padding: 0;
    }
  }

  &.rui-responsive .rui-grid #rui-main-content {
    margin-bottom: 0;
  }

  .social-snippet {
    font-family: $fontSerif;
    font-size: 1.25em;
    @media (min-width: $tabletPortrait) {
      font-size: 1.5em
    }
  }
}

.topics {
  border-top: 2px dotted #eee;
  border-bottom: 2px dotted #eee;
  font-size: 0.875em;
  clear: both;
  margin-bottom: 30px;
  ul {
    margin: 10px 0;
  }
  li {
    display: inline;
    text-transform: capitalize;
    color: $defaultLight;
    font-family: $fontMono;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 0.9em;
      letter-spacing: 1.3px;
      line-height: 2.4em;
      color: $defaultMedium;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  @media all and (max-width: $tabletPortrait) {
    display: none;
  }
}



.outbrain-details {
  display: none;
}

.scrollable {
  float: left;
  padding-bottom: 10px;
  @media (min-width: $phoneLandscape) and (max-width: $tabletPortrait) {
    margin-left: 10px;
  }
}

@media (max-width: $phoneLandscape) {
  .scrollable {
    padding-bottom: 0;
    display: none;
  }
  .rui-grid-secondary {
    background-color: $defaultUltra;
  }
}

.scrollable.fixed {
  position: fixed;
  top: 90px;
}

.scrollable.base {
    position: absolute;
    bottom: 0;
}

.scrollable.video .fixed {
    position: fixed;
    top: 100px;
}

.sharing {
  font-size: 0.6em;
  margin-top: 10px;
  .rui-social {
    display: block;
    margin-bottom: 10px;
    button {
      background-color: #edf0f2;
    }
  }
}

.sharing > div {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

@media (max-width: $phoneLandscape) {
  .sharing > div {
    display: none;
  }
}

@include respond-to('tablet-portrait-and-smaller') {
  .scrollable {
    float: none;
    clear: both;
    overflow: hidden;
  }
  .sharing .rui-social {
      display: inline-block;
  }
  .sharing .rui-social>.rui-icon {
    background-color: #eee;
    height: 48px;
  }
}


.rui-discover-section {
  position: relative;
}

@media all and (min-width: 800px) {
  .main-container {
    min-height: 1665px;
  }
  .single .post-content {
    margin-left: 70px;
  }
  .sharing {
    text-align: center;
    margin-top: -10px;
  }
}

// This blows
@media (min-width: $tabletPortrait) and (max-width: 800px) {
  .archive.rui-responsive .rui-grid,
  .single.rui-responsive .rui-grid {
    .rui-grid-primary {
      margin-right: -300px;
      margin-bottom: 0;
      width: 100%;
      float: left;
      display: block;
      padding-right: 330px;
      &.discover-hero-panel {
        margin: 0 0 20px;
        padding: 0;
        float: none;
        width: 100%;
      }
    }
  }
  .archive.rui-responsive .rui-grid .rui-grid-secondary {
    margin-bottom: 0;
    float: left;
    width: 300px;
  }
}


.post-content {
  .article-content {
    p:first-child {
      margin-top: 0;
      strong {
        font-family: $fontSerif;
        font-size: 16px;
        font-style: italic;
        display: block;
        @media(min-width: $tabletLandscape) {
          line-height: 1.5;
          font-size: 1.5em;
        }
      }
    }
  }
  h1,
  h2,
  h3 {
    padding-top: 30px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.2;
    font-family: $fontHeavy;
  }
  h2 {
    font-size: 1.5em;
    padding-top: 10px;
  }
  ul {
    margin: 0 0 30px 20px;
  }
   ol {
    list-style-type: decimal;
    margin: 0 0 30px 20px;
  }
  a,
  a:visited {
    color: $reaRed;
  }
   iframe {
    border: none;
  }
   img {
    max-width: 100%;
    height: auto;
    @media all and (max-width: 1010px) {
      width: 100%;
      height: auto;
    }
  }
  img.alignright {
    width: auto;
    float: right;
    margin-left: 0.75em;
  }

  img.alignleft {
    width: auto;
    float: left;
    margin-right: 0.75em;
  }

  article blockquote {
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    margin: 1em 0px;
    padding: 2em 0;
    line-height: 1.5;
    color: #9b9b9b;
    font-family: $fontMedium;
    font-size: 20px;
    p {
      margin: 0 0 0 5em;
      padding: 0;
    }
  }

  blockquote:before {
    display: block;
    float: left;
    content: "\e016";
    font-family: rui-icon;
    font-size: 70px;
    color: #fff;
    background-color: $reaRed;
    padding: 15px 12px 5px 8px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}


@media (max-width: 600px) {
  .post-content article blockquote {
    font-size: 16px;
    p {
      margin-left: 4em;
    }
  }

  .post-content blockquote:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 40px;
  }

}


.read-more,
.excerpt-read-more,
.excerpt-read-more:visited {
  color: $reaRed;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: $fontMedium;
}
