.related-container {
  background-color: $defaultDark;
  padding: 0 15px;

  &.outbrain-container {
    background-color: #fff;
    margin-top: 20px;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    margin: 1.25em 0;
  }

  .related-post {
    float: left;
    width: 47%;
    padding: 0;
    overflow: hidden;
    margin: 0 0 15px;

    @media (max-width: 639px) {
      min-height: 200px;

      &:nth-of-type(even) {
        float: right;
      }
      &:nth-of-type(odd) {
       clear: left;
       margin-left: 0;
      }
    }

    a {
      text-decoration: none;
      color: $defaultDark;
      font-size: 0.875em;
      line-height: 1.25;
      img {
        height: 120px;
      }
      p {
        margin: 0;
      }
    }
    article {
      float: left;
    }
    .details {
      vertical-align: middle;
      padding: 10px;
      width: 100%;
      min-height: 82px;
      background: #fff;
    }
  }
}

@media all and (min-width: $tabletPortrait) {
  .related-container {
    background-color: $defaultUltra;
    margin-top: 2em;
    padding: 0 0 2em;
    .related-box {
      max-width: 680px;
    }
    h2 {
      color: $defaultDark;
      text-align: left;
      font-size: 1.5em;
      font-family: $fontMedium;
      margin-bottom: 1em;
    }
    .related-post {
      width: 22.75%;
      margin-left: 3%;
      box-shadow: 0 1px 2px $defaultLight;
      font-family: $fontMedium;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  &.outbrain-container {
    background-color: #fafafa;
  }
}

@media all and (min-width: 769px) {
  .related-container .related-box {
    margin-left: 70px;
  }
}

