
.discover-widget {
  display: block;
  margin: 25px 15px;
  box-shadow: 0 1px 2px #eee;
  margin: 25px auto;
  max-width: 300px;
  @media(min-width: $tabletPortrait) {
    box-shadow: none;
  }
  .buttons li a {
    position: relative;
  }

  .tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    @media(min-width: $phoneLandscape) {
      background: #fff;
    }

    .post-list {
      width: 100%;
      position:relative;
    }
    a {
      text-decoration: none;
    }

    .side-list {
      float: left;
      width: 100%;
      top: 65px;
      @media(min-width: $tabletPortrait) {
        padding: 20px 15px 0;
        top: 50px;
      }
      position: absolute;
      display: block;
      left: 0;
      font-size: 0.875em;
      background: $defaultUltra;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;

      li {
        float: left;
        width: 100%;
        padding: 0 0 15px;
        margin-bottom: 15px;
        line-height: 1.5;
        border-bottom: 2px dotted $defaultLight;
      }
      li:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    .featured {
      strong {
        color: $defaultDark;
        display: block;
        padding-top: 0.75em;
      }
      small {
        display: block;
        text-transform: uppercase;
        color: $defaultLight;
        margin-top: 7px;
      }

      figure {
        float: right;
        margin-left: 10px;
        @media (min-width: $phoneLandscape) {
          float: left;
          margin: 0 10px 0 0;
        }
        width: 100px;
        max-height: 66px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    ul.recent.hide {
      left: 200%;
    }
    ul.popular.hide {
      left: -100%;
    }
    ul.buttons {
      display: block;
      width: 100%;
      li a {
        width: 50%;
        float: left;
        height: 50px;
        background: #454545;
        color: #fff;
        text-align: center;
        padding: 14px 0 0 0;
        display: block;
        font-family: $fontHeavy;
      }
      a.selected,
      li a.hover {
        background: $defaultUltra;
        color: $defaultDark;
      }
    }
  }
  &.list-module {
    background-color: $defaultUltra;
    padding: 15px;
  }
}

/****************************
 RHS Post-list Module
 ****************************/

.list-module h4.rui-brand-heading {
  margin: 0 0 14px;
  font-family: $fontHeavy;
}

.post-list {
  font-family: $fontMono;
  li {
    width:100%;
    line-height: 2em;
    margin-top: 0;
    font-size: 0.875em;
     a {
      color: $defaultMedium;
      width:100%;
      display:block;
      text-transform: capitalize;
      text-decoration: none;
      span{
        float:right;
        color: $defaultMedium;
      }
    }
  }
  a.show-more-list  {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #00beb3;
    font-size: 0.75em;
    text-decoration: none;
    i {
      display: none;
    }
  }
}




.more {
  max-height: 1210px;
  margin-bottom: 5px;
  overflow:hidden;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.more.hide {
  max-height: 0px;
}


@media all and (max-width: 719px) {
  .list-module {
      display: none;
  }
}
