// styles to implement the 'read more button below a small breakpoint'
$clipHeight: 1300px;

// post content - mobile first, set a max height 
.post-content {
  max-height: $clipHeight;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

	// after small breakpoint, remove max height
	@media screen and (min-width: 500px) {
		max-height:100%;
		height: auto;
		overflow: visible;
	}
  
  	// stlye post content toggle 
	&__toggle { 
		position: absolute;
		bottom: 35px;
		z-index: 100;
		padding: 10px 0;
		color: #e4002b;
		text-align: center;
		border: 1px solid #e4002b;
		border-radius: 3px;
		font-weight: bold;
		display: block;
		width: 80%; 
		margin:0 10%;
		background: #FFF;
		text-transform: uppercase;

		&:hover { 
			cursor: pointer;
		}
		// hide toggle after small breakpoint
		@media screen and (min-width: 500px) {
			display: none;
		}
	}
 
  	// post content blocker 
	&:after {
		display: block;
		position: absolute;
		bottom: 0;
		height: 400px;
		width: 100%;
		content: '';
		z-index: 99;
		background: linear-gradient(to top,
		 rgba(255,255,255, 1) 20%,
		 rgba(255,255,255, 0) 60%
		);
		pointer-events: none; 
		
		// hide blocker after small breakpoint
		@media screen and (min-width: 500px) {
			display: none;
		}
	}
}

// we use js to add the modifer class to show full article  
.post-content--js-read-full { 
	max-height:100%;
	height: auto;
	overflow: visible;
	
	// hide the toggle button 
	.post-content__toggle { 
		display: none;
	}
	
	// hide the blocking gradient 
	&:after { 
		display: none;
	}
}