/* This is mobile first design */

$max-mobile-width		: 639px !default;
$max-tablet-width		: 970px !default;
$min-tablet-width		: 640px !default;
$min-desktop-width	: 971px !default;
$min-iphone5-width	: 320px !default;

// Mobile only
@mixin mobile-only {
  @media (max-width : $max-mobile-width) {
    @content;
  }
}

// Tablet only
@mixin tablet-only {
  @media (min-width : $min-tablet-width) and (max-width : $max-tablet-width) {
    @content;
  }
}

// Desktop only
@mixin desktop-only {
  @media (min-width : $min-desktop-width) {
    @content;
  }
}

@mixin iphone5-only {
  @media (min-width : $min-iphone5-width) and (max-width : $min-iphone5-width) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width : $min-tablet-width) {
    @content;
  }
}

.ad--center {
  margin: 0 auto;
}

// half page ad is only visible on table and desktop
.ad-halfpage {
  width: 300px;
  height: 600px;
  @extend .ad--center;

  // mobile
  @include mobile-only {
    display: none;
  }

  // desktop and tablet
  @include tablet-desktop {
    display: block;
  }
}

// medrec ad
.ad-medrec {
  width: 300px;
  height: 250px;
  @extend .ad--center;
}

// medrec ads on mobile
.ad-medrec-mobile {
  @extend .ad-medrec;

  // mobile
  @include mobile-only {
    display: block;
  }

  // desktop and tablet
  @include tablet-desktop {
    display: none;
  }
}

// Hack fix for medrec ad on mobile homepage
.hero-content { 
  .rui-grid-secondary { 
    @include iphone5-only {
      background: transparent;
    }
    .ad-medrec-mobile {
      @include iphone5-only {
        margin-left: -5px;
      }
    }
  }
}

// medrec on tablet
.ad-medrec-tablet {
  @extend .ad-medrec;

  // mobile only
  @include mobile-only {
    display: none;
  }

  // tablet only
  @include tablet-only {
    display: block;
  }

  // desktop only
  @include desktop-only {
    display:none;
  }
}

// medrec on all devices
.ad-medrec--all-devices {
  display: block;
  @extend .ad-medrec;
  &.anchored {
    position: absolute;
    bottom: 0;
  }
}

.ad-leaderboard {
  width: 728px;
  height: 90px;
  margin: 2em auto;

  // mobile only
  @include mobile-only {
    display: none;
  }

  // desktop only
  @include tablet-desktop {
    display: block;
  }
}

.ad-billboard {
  width: 970px;
  height: 250px;
  margin: 2em auto;

  // mobile only
  @include mobile-only {
    display: none;
  }

  // tablet only
  @include tablet-only {
    display: none;
  }

  // desktop only
  @include desktop-only {
    display: block;
  }
}
