.post-meta {
  .author .post-author {
    color: $defaultMedium;
  }
  .news-masthead a,
  .news-masthead span,
  a.author-name {
    font-family: $fontSerif;
    font-style: italic;
    text-decoration: none;
    color: $defaultMedium;
  }
  .post-date {
    font-size: 0.75em;
    text-transform: uppercase;
    color: $defaultMedium;
    font-family: $fontMono;
  }
  .author-avatar {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid $defaultLight;
  }
}

@media all and (max-width: $phoneLandscape) {
 .post-meta {
   .author img,
   .topics,
   .author-avatar {
     display: none;
   }
   .news-masthead {
     margin-top: 15px;
   }
 }
}


.sponsor-author {
  margin: 2em 0;
  .brand-strip.post {
    margin: 0 0 1em;
    padding: 1em;
    height: auto;
    img {
      box-shadow: none;
      max-height: 50px;
      width: auto;
    }
  }
  .post-date {
    display: none;
  }
  @media(max-width: 600px) {
    .author-details {
      padding: 15px;
      text-align: center;
    }
  }
}

.author-avatar {
  border-radius: 50%;
  &.placeholder {
    color: $defaultMedium;
    font-size:44px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    color: $defaultLight;
    line-height: 1;
    display: none;
  }
}

.posted-by {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

