.blog-footer {
  background-color: $defaultUltra;
  padding-top: 1em;
  h6 {
    margin: 10px 0 0;
  }
  ul {
    margin-bottom: 15px;
    font-size: 0.75em;
    
    li {
      text-transform: uppercase;
      margin-right: 20px;
    }
  }
  p {
    color: $defaultLight;
    clear: both;
    font-size: 0.75em;
  }
  a {
    text-decoration: none;
    color: $defaultMedium;
  }
  .rui-col-xs-12 {
    padding-left: 0;
    ul li {
      @media (max-width: $phoneLandscape) {
        float: left;
        width: 50%;
        margin-right: 0;
      }
    }
  }
  .rui-col-xs-6 {
    padding-left: 0;
    ul li {
      @media (min-width: $tabletPortrait) {
        display: block;
        margin-right: 0;
        float: left;
        width: 50%;
      }
      @media (max-width: $phoneLandscape) {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}



