/****************************
 Global styles
 ****************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 72px;
}

h1,h2,h3,h4 {
  font-family: $fontDefault;
}

.rui-responsive .rui-grid .rui-grid-secondary {
  margin-bottom: 0;
}

@media (max-width: $phoneLandscape) {
  .rui-grid.rui-grid-advanced-mobile-bleed {
    padding: 0;
  }
}

.rui-ad-hidden {
  display: none;
}

.centered {
  text-align: center;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.rui-ad-wrapper {
  margin-bottom: 1em;
  .ad {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .rui-ad-wrapper,
  .discover-widget {
    float: none;
  }
  .rui-ad-wrapper {
    margin: auto;
    width: 100%;
  }
  .discover-widget.tab-module {
    padding-top: 15px;
    margin-top: 0;
  }
}



/****************************
 Category / Author Page
 ****************************/
.featured-slider {
    width: 100%;
    height: 360px;
    background: #888888;
}

.featured-slider.home {
    margin-top: 20px;
}

h2.category-description {
    font-size: 20px;
    color: #697684;
    text-align:center;
    font-family: 'Museo-Sans-300';
    margin-bottom: 40px;
}

.category-posts{
    background-color: #fff;
    padding-bottom: 60px;
}

.author-posts{
    background-color: #fff;
    padding-bottom: 60px;
}

.category-posts h2,
.author-posts h2 {
    margin-bottom: 0;
}

.category-posts h2 a,
.author-posts h2 a {
  color: $defaultDark;
}

.category-posts .rui-grid-secondary,
.author-posts .rui-grid-secondary {
    min-height: 600px;
}

.cat-post {
  border-bottom: 1px solid #eee;
}

@media all and (min-width: 767px) {
  .post-overview {
    padding: 0;
  }
  .article-wrapper {
    float: right;
    width: 65%;
  }
  .cat-post {
    margin: 0;
    h2 {
      font-size: 1.25em;
      margin-top: 0;
    }
  }
}

.category-posts,
.cat-post {
  padding: 20px 0;
  .rui-brand-heading {
    padding-bottom: 0;
  }
  h2 {
    margin: 0 0 0.5em;
    @media (min-width: $tabletLandscape) {
      margin-top: 0.5em;
    }
    line-height: 1.2;
    font-size: 1em;
    a {
      color: $defaultDark;
      text-decoration: none;
    }
  }
}


@media all and (max-width: 600px) {
  .category-posts h2,
  .author-posts h2 {
    font-size: 1.5em
  }
  h2.category-description {
    font-size: 12px;
    margin-bottom: 0;
    padding: 0 10px;
  }
}

.cat-post:first-child {
  padding-top: 0;
}

.post-overview {
  padding: 0 15px;
  .post-thumb {
    float: right;
    width: 35%;
    height: auto;
    margin: 0 0 15px 10px;
    display: block;
    @media (min-width: $tabletPortrait) {
      float: left;
      margin: 0;
      width: 30%;
    }
  }
}

.post-thumb {
  box-shadow: 0 1px 2px #ababab;
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .brand-logo img {
    box-shadow: none;
    width: auto;
    max-width: 100%;
    max-height: 40px;
    @media (max-width: 563px) {
      max-width: 120px;
    }
  }
}

.excerpt p {
  font-size: 0.75em;
  margin: 0;
  color: $defaultMedium;
  @media all and (min-width: 600px) {
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .category-posts .post-author,
  .author-posts .post-author {
    border-right: none;
    margin-right: 0;
  }
}


@media all and (max-width: 767px) {
    .category-posts .post-meta, .author-posts .post-meta{
        float: none;
        width: auto;
        margin-bottom: 1em;
    }
    .category-posts .post-overview, .author-posts .post-overview{
        float: none;
        width: auto;
    }
    .post-overview img {
        height: auto;
    }
    .excerpt-read-more {
      display: block;
      padding: 10px 0;
    }
}

@media all and (max-width: 600px) {
  .category-posts .cat-post,
  .author-posts .cat-post {
    margin: 0 0 20px;
    padding: 0;
  }
}



/****************************
 WP post styles
 ****************************/
.aligncenter {
  margin: 0 auto;
}



.discover-post-modules {
    margin-top: 12px;
    margin-bottom: 22px;
    list-style: none;
}

/****************************
 Category Page
 ****************************/
.posts-container {
    width: 100%;
    padding-top: 60px;
    margin-bottom: 30px;
    float: left;
    padding-bottom: 40px;
}

.posts-container.news {
    border-bottom: 1px solid #dddddd;
}

.posts-container .half {
    width: 40%;
}

.half li {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 12px;
    margin-bottom: 12px;
    width:300px;
}

.secondary-featured{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 12px;
    margin-bottom: 12px;
    width:300px;
}

.secondary-featured img{width:300px;
    height:auto;
}



/****************************
 Home Page
 ****************************/
.home .rui-grid-primary{
    padding-top: 0;
}

.home h1,
.category-posts h1 {
  padding: 1em 0 0.5em;
  text-align: center;
  margin: 0;
}

.rui-responsive .category-posts header {
  padding: 0 20px;
  margin-bottom: 15px;
}

@media all and (max-width: 719px) {
  h1.rui-brand-heading {
    border-bottom: none;
    font-size: 2em;
  }
}

.home h4 {
    margin: 0;
}

.home h4 a {
  color: $defaultDark;
}

.home .category .post-author,
.home .category .post-author .author-name {
  color: #c8c9c7;
  margin-bottom: 5px;
  
}

.home .content-wrapper {
  padding: 10px 12px 15px;
  min-height: 130px;
}

.home .category li {
    float: left;
    width: 44%;
    padding: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 2px #ddd;
    margin: 0 6% 30px 0;
}

.home .category li:nth-of-type(3) {
  clear: left;
}

@media all and (min-width: 600px) {
  .home .category {
    margin-bottom: 50px;
  }
}

.home .category img {
    width: 100%;
    height: auto;
}

.home .category .post-author {
  font-size: 0.750em;
  float: none;
}

@media all and (max-width: 800px) {
  
  .home .categories > li {
    padding-bottom: 20px;
  }

  .home .category li {
    width: 44%;
    margin: 0 0 20px 4%;
  }
  .home .category .thumbnail {
    width: 100%;
    padding: 0;
    height: auto;
    min-height: 95px;
    display: block;
  }
  .home .categories h2 {
    text-align: center;
    font-size: 1.25em;
  }

  .home .stories .excerpt-read-more {
    display: none;
  }

  .home .category .post-author,
  .home .content-wrapper {
    line-height: 1.2;
  }
  .home .content-wrapper {
    min-height: 75px;
    padding: 8px 10px 10px;
  }
}


.featured-container {
  background: #fff;
  width: 100%;
  text-align: center;
  float: left;
  border-top: 1px solid #e8e8e8;
  padding-top: 50px;
  padding-bottom: 65px;
}

.featured-container ul {
	width: 100%;
	margin: 0 auto;
	position:relative;
	overflow: auto;
}

.featured-container li {
	width: 240px;
	height: auto;
	display:inline-block;
	margin-right: 45px
}

.catname {
	width: 100%;
	color: #fff;
	height: 40px;
	position: relative;
	background: $reaRed;
	padding-top: 8px;
	font-size: 15px;
}

.catname:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(190, 5, 30, 0);
	border-top-color: $reaRed;
	border-width: 14px;
	margin-left: -14px;
}

.featured-img {
	width: 100%;
}

.featured-container li:last-child {
  margin-right: 0;
  margin-bottom: 0;
  border: none;
}

.featured-container ul {
	height: auto;
	display:inline-block;
}

.featured-container ul ul {
	width: 100%;
	margin-top: 12px;
	float:left;
	height: auto;
	display:inline-block;
}

.featured-container ul ul li {
  float: left;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 10px 0px;
  height: auto;
  text-align: left;
  line-height: 1.5;
  font-size: 12px;
  font-family: $fontMedium;
}

.featured-container ul ul li a {
	color: #000000;
	padding-top: 2px;
	float: left;
	font-size: 12px;
	padding-left: 2px;
    font-family: $fontMedium;
}

.featured-container ul ul li:hover a {
	color:$reaRed;
}

@media all and (max-width: 950px) {

	.featured-container li {
		width: 30%;
		height: auto;
		display:inline-block;
		margin-right: 1%;
	}

}

@media all and (max-width: 720px) {

  .featured-container li {
    width: 90%;
    max-width: 320px;
    clear:both;
    height: auto;
    display:inline-block;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 1px #ddd;
  }

  .featured-container ul ul li {
    border-bottom: 1px solid #eee;
    box-shadow: none;
  }

}


/****************************
 RUI overrides
 ****************************/
p {
  margin-bottom: 1.25em;
}

h1.rui-brand-heading {
  line-height: 1.2;
  @media all and (max-width: 600px) {
    font-size: 2em;
    margin: 10px 0;
  }
}

.category-panel {
  .rui-search-container {
    float: right;
    width: 140px;
     /* Not ideal - should alter RUI so the search widget is good for small sizes .*/
    .rui-input {
      font-size: 0.75em;
      border: none;
      border-radius: 2px;
      height: 2em;
      padding: 3px 5px;
      background-color: $defaultDark;
      background-color: rgba(255,255,255,0.1);
      &:focus {
        background-color: rgba(255,255,255,0.2);
        color: #fff;
      }
    }
    .rui-search-button {
      font-size: 1em;
      background-color: transparent;
      border: none;
      max-height: 20px;
      padding-top: 0;
      .rui-icon {
        margin-top: 0;
        padding-left: 4px;
        color: #fff;
        padding-right: 0;
        float: right;
      }
    }
  }
  .social-and-search {
    float: right;
    span {
      color: #fff;
      font-size: 0.750em;
      margin-top: 0.15em;
      padding: 0.2em 0.8em 0.2em 0;
      float: left;
    }
  }
  .social-links {
    float: left;
    padding-right: 10px;
    font-size: 1em;
    li {
      float: left;
      padding: 0 0.3em;
      margin-top: 0;
      a {
        color: #fff;
      }
      a:hover {
        color: #ccc;
      }
    }
  }

}

.lt-ie9 .rui-search-container .rui-input {
    min-height: auto;
    height: auto;
}

@media all and (max-width: 600px) {
    .category-panel .social-and-search,
    .category-panel .searchform form,
    .category-panel .rui-search-container {
        float: none;
    }
    .category-panel .searchform {
        width: 100%;
    }
    .category-panel .rui-search-container {
      width: auto;
      font-size: 0.5em;
      box-shadow: 0 1px 1px #c8c9c7;
    }
    .category-panel .rui-search-container .rui-search-button {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
}

.rui-button-no-style {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.rui-header {
    border: none;
}

#rui-main-nav {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


@media all and (max-width: 950px) {
	.outbrain-container {
		display:none;
	}
}

.search {
  .results-message {
    margin-bottom: 2em;
  }
  .cat-post .rui-brand-heading {
    font-size: 1.25em;
  }
  .topics {
    border: none;
    margin: 15px 0;
  }
  .excerpt strong {
    color: #000;
    border-bottom: 1px dotted #000;
  }
}



/****************************
 REA CrossBranding
 ****************************/
.brand-strip.post {
  position: relative;
  bottom: 0;
  width: 100%;
  display: inline-block;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
  @media(max-width: $tabletPortrait) {
    margin-bottom: 2em;
  }
}

.header-wrapper .brand-strip.post {
  width: auto;
  padding: 4px;
  margin: 15px 0 0 0;
  display: block;
  float: left;
  @media(min-width: $phoneLandscape) {
    float: right;
    margin: 0;
  }
}


.brand-strip.post .brand-logo {
  max-height: 50px;
  @media(min-width: 600px) {
    float: left;
  }
}

.brand-logo img {
  width: auto;
  max-height: 50px;
  max-width: 200px;
  @media(max-width: $phoneLandscape) {
    height: auto;
    float: left;
  }
}

.brand-strip.category {
  position: relative;
  height: 40px;
  width: 100%;
  @media (min-width: $tabletLandscape) {
    margin-top: -20px;
  }
}

.brand-strip.home {
    height: 30px;
    width: 100%;
    position:relative;
    margin-top:-10px;
}

.brand-strip.home .brand-logo {
    color: #fff;
}

.brand-strip.home p {
    font-size: 10px;
    text-align: left;
    padding: 7px 0 0 0;
    display: block;
    margin: 0 0 0 20px;
}


/****************************
 Scroll to top
 ****************************/
.to-top-widget {
  width: 100%;
  float: left;
  display: table;
}

.to-top,
.to-top:hover,
.to-top:visited {
  display:block;
  width: 80px;
  height: 45px;
  background: $reaRed;
  color: #ffffff;
  position: fixed;
  text-align: center;
  padding-top: 12px;
  -webkit-transition: bottom .08s ease-in-out;
  -moz-transition: bottom .08s ease-in-out;
  -o-transition: bottom .08s ease-in-out;
  transition: bottom .08s ease-in-out;
  z-index:2;
}

.fixedEl {
  display:block;
  width: 80px;
  height: 45px;
  position: fixed;
  padding-top: 12px;
  opacity:0;
  z-index:0;
  bottom:55px;
}

.to-top {
  bottom:-45px;
}

.to-top.show {
  bottom: 0;
  right: 20px;
}

.to-top.fixed {
  position: absolute;
  bottom: 0
}

.to-top.mobile {
  position: fixed;
  text-align: center;
  bottom: 5px;
  right: 5px;
  width: auto;
  background: $reaRed;
  padding: 10px;
  height: auto;
  font-size: 11px;
  border-radius: 3px;
  text-decoration: none;
  display: none;
}

.to-top.mobile.show {
  display: block;
  z-index: 100;
}

/****************************
 Gallery Styling
 ****************************/

.gallery {
    margin: auto;
}

.gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}

.gallery img{
    border: none;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .2);
    width: 100%;
    height:auto;
    max-width: 155px;
    float: left;
}

.gallery-caption{
    margin-left: 0;
    font-size: 10px;
    width: 100%;
    display: block;
    float: left;
    max-width: 155px;
    margin-top: 8px;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-2 .gallery-item img {
    max-width: 230px;
    float: left;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-4 .gallery-item img {
    max-width: 130px;
    float: left;
}



/* 404 Screen */
.blog-four {
  min-height: 600px;
  .search-panel {
    background: #ebebeb; /* The Fallback */
    background: rgba(255, 255, 255, .9);
    padding: 20px;
    max-width: 360px;
    @media (max-width: $phoneLandscape) {
      margin-top: 200px;
      max-width: inherit;
    }
    .rui-search-container {
      .rui-input {
        font-size: 1em;
        border: 1px solid #ccc;
        padding: 1em;
      }
    }
    h4 {
      font-size: 1.25em;
      margin-top: 0.5em;
    }
    p {
      font-size: 0.75em;
    }
  }
}

.fourohbackground {
  background: url(/news/wp-content/themes/REA/library/images/404-bg.jpg) no-repeat;
  background-size: 100%;
  background-position: 0 0;
  @media (min-width: $phoneLandscape) {
    background-size: cover;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    .fourohbackground {
      background-image :url(/news/wp-content/themes/REA/library/images/404-bg@2x.jpg);
    }
}


/* Author Page */
.author-posts h1 {
    padding: 0;
    margin-bottom: 0;
    line-height: 2em;
    text-align: left;
    /*border-bottom: 1px solid #ddd;*/
}

.blog-feature-author .rui-grid-primary{
    padding-top:10px;
    border-top:1px solid #dddddd;
}

.author-posts .blog-feature-author .author-avatar{
    height: auto;
    max-width: 120px;
    float:left;
    margin-bottom:45px;
    margin-right:35px;
    margin-top: 30px;
    width:25%;
}

.author-posts .author-name{
    font-family: $fontMedium;
    margin-top:8px;
}

.author-posts .blog-feature-author{
    background:#ededed;
}

.author-posts .author-details{
    padding-top: 24px;
    width: 75%;
    float: left;
    margin-bottom:25px;
}

.search .results-message {
    font-size: 0.875em;
    text-align: center;
}

.search .post-count {
    font-family: $fontMedium;
}

.search .rui-grid-primary #searchform {
    padding: 1em;
    background-color: #ededed;
    margin-bottom: 3em;
}

@media all and (max-width: 500px) {
    webengagedata {
        display: none;
    }

    .blog-feature-author {
        padding: 22px;
    }

    .author-posts .blog-feature-author .author-avatar {
        width: 400px;
        margin: 0 auto;

    }

    .blog-feature-author .rui-list-inline {
        max-width: 100%;
        margin: 0 auto;
    }

    .blog-feature-author .rui-list-inline li {
        float: left;
    }

}


/* Contributors Page */
.contributors-page {
    text-align: center;
    padding-top: 60px;
}

.contributors-page h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.alphabet {
    width: 840px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.alphabet li {
    display: inline-block;
    vertical-align: top;
    /*IE*/
    *display: inline;
    zoom: 1;
}

.alphabet li:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.alphabet li a {
    padding: 0 6px;
    height: 20px;
    display: block;
    text-align: center;
    font-family: $fontMedium;
    color: #cccccc;
    line-height: 22px;
    text-transform: uppercase;
    cursor: default;
}

.alphabet li.enabled a {
    color: #6b6b6b;
    cursor: pointer;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.alphabet li:first-child a {
    padding: 0 3px;
}

.alphabet li a:hover {

}

.alphabet li.enabled a:hover {
    color: #ffffff;
    background: #df6b7e;
}


.alphabet li.selected a,
.alphabet li.selected a:hover {
    color: #ffffff;
    background: #ca0828;
}

.contributor-list .author-posts{
    padding: 0 82px;
    text-align: left;
    opacity: 0;
    height: auto;
    disoplay: block;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.author-posts.show-author {
    opacity: 1;
}

.author-posts.gone {
    height: 0px;
    overflow: hidden;
}

.contributor-list  .blog-feature-author .rui-grid-primary {
    background: #ffffff;
    border-top: none;
    padding: 0;
}

.contributor-list .author-avatar {
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.04);
}

@media all and (max-width: 1010px) {

    .alphabet {
        width: 700px;
    }

    .contributor-list .author-posts {
        padding: 0 18px;
    }

    .author-posts .blog-feature-author {
        background: #ffffff;
    }

}

@media all and (max-width: 863px) {

    .alphabet {
        width: 100%;
        padding: 0 45px;
    }

    .contributor-list .author-posts {
        padding: 0 10px;
    }

    .contributor-list .author-posts .author-details {
        width: 60%;
    }

}


@media all and (max-width: 600px) {

    .contributor-list .author-posts {
        padding: 0 30px;
    }

    .contributor-list .author-posts .author-avatar {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
        display: block;
        margin-top: 35px;
    }

    .contributor-list .author-posts .author-details {
        width: 100%;
        text-align: center;
    }

    .contributor-list .author-posts .rui-list-inline {
        overflow: hidden;
        max-width: 90%;
        margin: 0 auto;
        line-height: 2.4;
        margin-top: -1.2em;
    }

    .contributor-list .author-posts .rui-list-inline li {
        display: inline-block;
    }

    .blog-feature-author .rui-grid-primary {
        min-width: 50px;
    }


}

.no-authors {
    width: 100%;
    line-height: 50px;
    margin-bottom: 25px;
    color: #cccccc;
}

/*****************************************************************************
 * HACKITY HACK! DON'T COME BACK!
 *****************************************************************************/
.home .postid-5179 .posted-by:before,
.home .postid-7450 .posted-by:before,
.slide-5179 .posted-by:before,
.slide-7450 .posted-by:before,
.postid-5179 .post-meta .posted-by:before,
.postid-7450 .post-meta .posted-by:before {
    content: 'Commissioned ';
}

.single.postid-5179 .post-meta .post-author,
.single.postid-7450 .post-meta .post-author {
    display: none;
}

.single.postid-5179 .post-meta .post-date,
.single.postid-7450 .post-meta .post-date {
    margin-top: 10px;
}

.rui-social>.rui-icon[data-show-counter=true] {
    width: 46px;
}
.rui-social .rui-share-counter {
    top: 13%;  right: 14%;
}


.posts-nav-link {
  position: fixed; z-index: 100; right: 0; height: 136px; width: 44px;
  a { text-decoration: none; }
  li { position: absolute; cursor: pointer; width: 250px; margin-right: -206px; height:68px; border: 1px solid #dddddd; background-color: #fff; }
  li.open { right: 204px; }
  li.closed { right: 0px; }

  li p { font-size: 14px; color: #6b6b6b; margin: 15px; margin-bottom: 0px;   margin-top: 9px; }
  li span { font-size: 12px; float: left; margin: 0px 15px; line-height: 1.1; width: 170px; overflow: hidden; height: 26px; }
  li span a { font-size: 12px; font-weight: bold; }

  li i { float: left; width: 44px; height:68px; font-size: 2.75em; color: $defaultMedium; }

  li:first-child { top: 0px; }
  li:last-child { top:68px; }

  li.open i { float: right; }
  li.open:first-child i { background-position: 0px 0px; }
  li.open:last-child i {  background-position: -44px 0px; }
}



@media (max-width: 1200px) { .posts-nav-link { display: none; } }

.foogallery-container a, .foogallery-container a img { width: 100%; }

.tableau { border: none; }
@media (max-width: 400px) { .tableau { display: none; } }

.video-js { width: 100%; min-height: 320px; margin: 20px 0px; }
@media (max-width: 400px) { .video-js { min-height: 220px; margin: 10px 0px; } }

.clearfix { clear: both; }
.video-widget { display:block; margin:25px 0px; }
.video-widget .post-list .video .col-6 { float: left; width: 50%; }
.video-widget .post-list .video img { float: left; width: 90%; margin:10px 10px 10px 0px; }
.video-widget .post-list .video .duration {
    float: left;
    font-size: 12px;
    color: #6b6b6b;
    line-height: 20px;
    margin-bottom: 0px;
}
.video-widget .post-list .video .title {
    float: left;
    width: 100%;
    padding: 10px 10px 0px 0px;
    font-size: 14px;
    line-height: 17px;
    color: #6b6b6b;
    font-family: Museo-Sans-500, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

.video-widget .post-list .video .rui-icon-play {
    float: left;
    font-size: 18px;
    color: $reaRed;
    margin: -1px 6px 0px 0px;
}

.play-icon {
    width: 30px!important;
    float: right;
    margin-top: -30px;
    position: relative;
}

.categories li .rui-icon-play {
    float: left;
    font-size: 20px;
    margin: -4px 6px 0px 0px;
}

.categories li .excerpt-read-more:hover { text-decoration: underline; }

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 30px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.archive .other-sponsored-articles { display: none; }

.other-sponsored-articles {
  width: 100%;
  min-height: 250px;
  margin-top: 25px;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
}

.other-sponsored-articles h1 {
  text-align: left;
  font-size: 16px;
  color: $defaultDark;
  line-height: 22px;
  padding: 25px 0 0 25px;
  margin: 0;
  border-bottom: none!important;
}

.other-sponsored-articles h1 span {
  text-transform: uppercase;
}

.other-sponsored-articles ul {
  display: block;
  left: 0;
  padding: 20px 24px 10px 25px;
  top: 49px;
  transition: all 0.25s ease-in-out 0s;
  width: 100%;
}

.other-sponsored-articles li {
  padding-bottom: 10px;
  border-bottom: 1px solid #E1E1E1;
}

.other-sponsored-articles li:last-child {
  margin-top: 10px;
  border-bottom: none;
}


.other-sponsored-articles ul li img {
  float: left;
  height: auto;
  padding-right: 1em;
  width: 45%;
}

.other-sponsored-articles ul li p {
  font-family: $fontDefault;
  font-size: 12px;
  color: $defaultDark;
  line-height: 20px;
  margin-bottom: 0px;
}

.other-sponsored-articles ul li a {
  font-family: $fontDefault;
  font-size: 14px;
  color: $reaRed;
  line-height: 14px;
}


.other-sponsored-articles {
  margin-bottom: 20px;
}

